---
export interface Props {
  title: string;
  description?: string;
  bodyClass?: string;
}

const { title, description = 'For Designers who Build', bodyClass = 'page-index' } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <meta name="description" content={description}>
    <link rel="alternate" type="application/rss+xml" title="Redd XF RSS Feed" href="/rss.xml">
    <link rel="icon" href="/logo_8b2c4ff1.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/blog.css">
    <script is:inline>
        !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys onSessionId".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
        posthog.init('phc_HFB139SSCTbjzHK0MdGZWCicWmJcSlp8YenXs6h0hkW',{api_host:'https://eu.i.posthog.com'})
    </script>
</head>
<body class={bodyClass}>
    <div class="floating-logo">
        <a href="/">
            <img src="/logo_8b2c4ff1.png" alt="Redd XF Logo" class="logo-icon" />
        </a>
    </div>
    
    <slot />
    
    <div class="footer">
        <i class="fa fa-heart"></i>
    </div>
</body>
</html>
